pipeline/PL_MultiTableCopy.json
{
	"name": "PL_MultiTableCopy",
	"properties": {
		"activities": [
			{
				"name": "adf_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TableName FROM ADF_TableList;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_TableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "adf_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('adf_lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyEachTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_TableList",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DsBlobdbtofile",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@concat(     item().TableName, '_',     formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),     '.csv' )",
										"FolderName": "@concat('output/', item().TableName)"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-02T17:15:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}